			.jumbotron
			{
				margin-bottom: 0;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 0px;
				background-color:#f2f2f2;
				/* border-bottom:1px solid #333; */
                                
			}
			.menu-header
			{
				margin-bottom: 0;
				/*padding-top: 5px;*/
				/*padding-bottom: 5px;*/
				padding-left: 30px;
				margin-bottom: 0px;
				/* background-color:#356EBF; */
				background-color:rgba(128,189,36,1);
				/* border-bottom:1px solid #333; */
                                
			}
			/* Add a gray background color and some padding to the footer */
			footer
			{
				background-color: #f2f2f2;
				padding: 15px;
			}
			.panel-default>.panel-heading
			{
				/* background-color:  #FF6D46; */
				background-color:  #333;
				color:#fff;
			}

			.filter-col
			{
    				padding-left:10px;
    				padding-right:10px;
			}
		

		
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 0;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  /* background: #356EBF; */
  background: 44d43b;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  /* background: #356EBF; */
  background: rgba(128,189,36,1);
  
  color: white;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  /*padding: 19px 20px;*/
  padding: 17px 10px;
  text-decoration: none;
}
#cssmenu a:hover{
  /* background: #FF6D46; */
  background: #333;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  /*padding: 19px 20px;*/
  padding: 17px 10px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  /* color: white; */
  /* font-size: 11px; */
  font-weight: bold;
  font-size: 15px;
  font-family: 'Oswald', sans-serif
}


#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  /*border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #356EBF;*/
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
 /* background-color:#356EBF */
 background-color:rgba(128,189,36,1)
}
#cssmenu.align-right > ul > li:last-child > a {
  /* background-color:#356EBF */
  background-color:rgba(128,189,36,1)
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: white;
 
  
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: inherit;
  top: 100%;
  left: 0;
  border: 1px solid black;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
   border: 1px solid black;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  /* background: #356EBF; */
  background: rgba(128,189,36,1);
  /* border-bottom: 1px solid #FF6D46; */
  border-bottom: 1px solid #333;
  font-size: 15px;
  font-weight: bold;
  filter: none;
  display: block;
  /*line-height: 120%;*/
  line-height: 60%;
  padding: 14px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  /* background: #FF6D46; */
  background: #333;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  border: 1px solid black;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  /* background: #FF6D46; */
  background: #333;
  /* border-bottom: 1px solid #356EBF; */
  border-bottom: 1px solid rgba(128,189,36,1);
}
#cssmenu .has-sub .has-sub ul li a:hover {
  /* background: #356EBF; */
  background: rgba(128,189,36,1);
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}

